#enable alb 443 listener
#this doesn't work without cert arn, probably need to create a dummy one first
#right now must manually manage the listener somewhere else
#
#option_settings:
#  aws:elbv2:listener:443:
#    DefaultProcess: https
#    ListenerEnabled: 'true'
#    Protocol: HTTPS
#    SSLCertificateArns: arn:aws:acm:us-east-2:1234567890123:certificate/####################################
#  aws:elasticbeanstalk:environment:process:https:
#    Port: '443'
#    Protocol: HTTPS

#enable ELB to forward to non-80 port of the instance
#only needed if it is 443->443(if it is not open at instance level) or 443->other ports(say the application server port directly, bypassing nginx)
#Resources:
#  sslSecurityGroupIngress:
#    Type: AWS::EC2::SecurityGroupIngress
#    Properties:
#      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
#      IpProtocol: tcp
#      ToPort: 8000
#      FromPort: 443
#      SourceSecurityGroupName: {"Fn::GetAtt" : ["AWSEBLoadBalancerSecurityGroup" , "SourceSecurityGroup.GroupName"]}
