commands:
  01_sqlsrv:
    command: |
      # 1. Register the Microsoft Linux repository
      curl https://packages.microsoft.com/config/centos/7/prod.repo | tee /etc/yum.repos.d/mssql-tools.repo;

      # 2. Install MSSQL and tools
      ACCEPT_EULA=Y yum install msodbcsql17 mssql-tools unixODBC-devel -y --disablerepo=amzn*;
    ignoreErrors: true   
