# add EPEL release package repo to yum for installing certbot dependencies(must use manual commands)

commands:
  add-certbot:
    command: |
      #1. enable epel(this is needed for amazon linux 2)
      amazon-linux-extras install epel -y
      #2. install epel-release
      yum install epel-release -y
      #3. install cert-nginx
      yum install certbot-nginx -y
    ignoreErrors: true   
