# add EPEL release package repo to yum for installing freetds driver to connect mssql(must use manual commands)

commands:
  add-freetds:
    command: |
      #1. enable epel(this is needed for amazon linux 2)
      amazon-linux-extras install epel -y
      #2. install freetds
      yum install freetds -y
    ignoreErrors: true   

