#runtime environment setup value CANNOT be empty, use 'placeholder'(if must force configure via other means) 
# or comment them out or use 'None' as nothing but keep the key(equivalent of empty, empty is not allowed)
option_settings:
  - option_name: SQLALCHEMY_URL
    value: None  
  - option_name: FLASK_SECRET_KEY
    value: None    