#runtime environment setup value CANNOT be empty, use 'placeholder'(if must force configure via other means) 
# or comment them out or use 'None' as nothing but keep the key(equivalent of empty, empty is not allowed)
option_settings:
  - option_name: GOOGLE_CLOUD_PROJECT
    value: None
  - option_name: ODBC_CONNECTION_STRING
    value: None
  - option_name: ODBC_CONNECTION_CREDENTIAL
    value: None
  - option_name: SQLALCHEMY_URL
    value: None  
  - option_name: MARIADB_KEY_LOCATION
    value: None
  - option_name: EXTENDED_PRIVKEY
    value: None 
  - option_name: EXTENDED_PUBKEY
    value: None
  - option_name: EXTENDED_PATH
    value: None  
  - option_name: FLASK_SECRET_KEY
    value: None
  - option_name: REDIS_URL
    value: None      
  - option_name: API_HOST
    value: None 
  - option_name: EFS_MOUNT_TARGET_IP
    value: fs-27c4e85f.efs.us-east-2.amazonaws.com 
  - option_name: EFS_MOUNT_DIRECTORY
    value: /mnt/efs