commands:
  00_fix_scripts:
    command: |
      #make all shell script executable(if comes from windows), this is running from '/'
      find /var/app -type f -name "*.sh" -exec chmod 0755 {} \+;
      #fix crlf issue(if comes from windows)
      find /var/app -type f -name "*.sh" -exec dos2unix {} \+;
      
container_commands:
  00_fix_scripts:
    command: |
      #make all shell script executable(if comes from windows), this is running from 'staging'(i.e. to be 'copied' directory)
      find . -type f -name "*.sh" -exec chmod 0755 {} \+;
      #fix crlf issue(if comes from windows)
      find . -type f -name "*.sh" -exec dos2unix {} \+; 
      #rsync -a .ebextensions .platform/
      rsync -a .ebextensions/scripts/* /tmp/
      #deploy ssl keys for mysql/mariadb
      rsync -a .ebextensions/platform/*.pem /tmp/
    ignoreErrors: true